body,
html {
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", sans-serif;
}

/* HEADER */
.header {
  width: 100%;
  background: purple;
  background: linear-gradient(90deg, #06165f 0%, #3c00bc 100%);
}
/* Comment test for git clone */
.header__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px;
  gap: 1rem;
  max-width: 1200px;
}

@media screen and (min-width: 400px) {
  .header__inner {
    justify-content: space-between;
    padding: 0 20px;
  }
}

.header__logo {
  color: white;
  /* margin-top: 0; */
}

@media screen and (min-width: 400px) {
  .header__logo {
    margin-top: 20px;
  }
}

.header__btnGrp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.header__button {
  padding: 5px 10px;
  border-radius: 20px;
  border: 0;
}

.header__button:hover {
  cursor: pointer;
  opacity: 0.75;
}

.header__button--submit {
  background: orange;
}

.header__button--signIn {
  background: green;
  color: white;
}

/* GENERAL */
.mainContainer {
  /* max-width: 1000px; it restricts the page to expand beyond this width */
  margin: auto; /* it centerizes the contents of the page to center */
}

/* SEARCH */
.search__wrapper {
  position: relative;
  max-width: 350px;
  width: 100%;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
  background-color: #e8eaf6;
}

.search__title {
  margin-bottom: 10px;
  text-align: center;
}

.search__input {
  padding: 8px 30px 8px 8px;
  border-radius: 20px;
  /* width: 100%; */
  width: 88%; /* tried */
  border: 1px solid lightgray;
}

.search__searchIcon {
  position: absolute;
  top: 5px;
  right: 10px;
}

/* FAQ */
.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px auto;
  max-width: 1200px;
}

.faq__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
  padding: 10px;
}

.faq__list-item {
  display: flex; /* tried */
  min-height: 8rem;
  border-radius: 5px;
  width: 100%; /* Not a best practice to use fixed width*/
  max-width: 300px;
  gap: 2rem;
  padding: 8px 20px 20px 20px; /* tried */
  border: 1px solid #ccc;
}

.faq__list-item-image {
  margin-top: 20px; /* tried */
}

.faq__card-link {
  text-decoration: none;
  color: #5c6bc0;
  font-weight: bold;
}

/* FOOTER */
.footer {
  padding: 20px;
  background: linear-gradient(90deg, #182848 0%, #3c00bc 100%);
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  max-width: 1200px;
  width: 100%;
  color: white;
  margin: auto;
}

.footer_column {
  flex-grow: 1;
}
